<!DOCTYPE html>
<html>
    <head>
        <style>
         body {
             font: 20px helvetica, arial, sans-serif;
             margin-left: 2em;
             padding: 2em;
             margin-right: 2em;
             background-color: #fff;
             border: 1px solid #999;
         }

         html {
             background-color: #ddd;
         }

         #cy {
             height: 100vh;
             margin-left: -1em;
             margin-right: -1em;
             border: 1px dashed #999;
         }
        </style>
        <meta charset=utf-8 />
        <meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">
        <title>{{ config.title }}</title>
        <script src="js/cytoscape.js"></script>
    </head>
    <body>
        <div>
            <h1>{{ config.title }}</h1>
            {{ config.desc }}
            <h2>Security Properties</h2>
            <ul>
            {% for secprop in config.security_properties %}
                <li>
                    <b>{{ secprop.name }}:</b>
                    {{ secprop.desc }} (green=true, red=false, grey=unknown)
                </li>
            {% endfor %}
            </ul>
            <h2>Rules used</h2>
            <p>(see labels in graph below)</p>
            <ul>
            {% for rule in rules %}
                <li>
                    <b>{{ rule.name }}:</b>
                    {{ rule.desc }}
                </li>
            {% endfor %}
            </ul>
        </div>
        <div id="cy"></div>
        <!-- Load application code at the end to ensure DOM is loaded -->
        <script>
         
         var cy = cytoscape({
             container: document.getElementById('cy'),

             boxSelectionEnabled: false,
             autounselectify: true,

             style: [
                 {
                     "selector":"node[type=\"node\"]",
                     "css":{
                         "content":"data(label)",
                         "font-size":"25px"
                     }
                 },
                 {
                     "selector":"edge",
                     "css":{
                         "curve-style":"bezier",
                         "target-arrow-shape":"triangle",
                         "width":4,
                         "line-color":"#ddd",
                         "target-arrow-color":"#ddd",
                     }
                 },
                 {
                     "selector":"edge[state]",
                     "css":{
                         "opacity": "0.8",
                         "width": 2,
                     }
                 },
                 
                 {% for secprop in config.security_properties %}
                 {% for state, color in secprop.colors.items() %}
                 {
                     "selector":"[state=\"{{ secprop.id }}_{{ state }}\"]",
                     "css":{
                         "background-color":"{{ color }}",
                         "text-background-color":"{{ color }}",
                         "line-color": "{{ color }}",
                     }
                 },
                 {% endfor %}
                 {% endfor %}
                 {
                     "selector":"$node > node",
                     "css":{
                         "padding-top":"10px",
                         "padding-left":"10px",
                         "padding-bottom":"10px",
                         "padding-right":"10px",
                         "text-valign":"center",
                         "text-halign":"left",
                         "font-size":"25px",
                         "content":"data(label)"
                     }
                 },
                 {
                     "selector":"#secprop_results",
                     "css":{
                         "padding-top":"10px",
                         "padding-left":"10px",
                         "padding-bottom":"10px",
                         "padding-right":"10px",
                         "text-valign":"center",
                         "text-halign":"left",
                         "font-size":"30px",
                         "content":"Secure?",
                         "background-color":"#eef",
                     }
                 },
                 {
                     "selector":"node[type=\"rule\"]",
                     "css":{
                         "font-size":"25px",
                         "width": "1em",
                         "text-max-width": "14.5em",
                         "height": "label",
                         "text-wrap": "wrap",
                         "text-valign":"center",
                         "text-halign":"center",
                         "content":"data(label)",
                         "text-background-opacity": "0.3",
                         "text-background-shape": "roundrectangle",
                     }
                 },
                 
             ],
             elements: {{ elements }},
             layout: {
                 name: 'breadthfirst',
                 directed: true,
                 roots: '#{{ root }}',
                 //padding: 0,
                 //nodeDimensionsIncludeLabels: false,
                 //spacingFactor: 1,
             }
         });

         
        </script>

        
    </body>
</html>
